.article-list-container { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
} 

.articles { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 1.5rem; 
}