<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/article/list">Inicio</a>

    <div class="navbar-nav">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      <a class="nav-link" routerLink="/article/list" routerLinkActive="active">Artículos</a>
      <a class="nav-link" routerLink="/article/create" routerLinkActive="active">Nuevo artículo</a>
    </div>

  </div>
</nav>
