<div class="article-item" [ngClass]="{ sale: article.isOnSale }">
    <div class="image"><img [src]="article.imageUrl" /></div>
    <div class="details">
      <div>{{ article.name }}</div>
      <div  [ngClass]="{ salePrice: !article.isOnSale }" >{{ article.price | currency:'EUR':'symbol':'1.2-2' }}</div>
      <div  *ngIf="article.isOnSale">
        <button *ngIf="article.quantityInCart > 0" (click)="decrementInCart()">
          -
        </button>
  
        <span>{{ article.quantityInCart }}</span>
        <button (click)="incrementInCart()">+</button>
      </div>
    </div>
  </div>
  