.article-item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  
  .article-item .details {
    text-align: center;
  }
  
  .article-item.sale {
    background-color: rebeccapurple;
  }
  
  .salePrice {
    color: gray;
  }

  .image img { 
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    display: block;
  }