<h2>Register</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Username</label>
    <input formControlName="username" />
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" />
    <small>Se asignará SECRET en el servidor</small>
  </div>

  <button type="submit" [disabled]="form.invalid">Register</button>

  <div *ngIf="message" style="color: green;">
    {{ message }}
  </div>

  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>
</form>

